{% load i18n %}
<div class="container">
    {% include 'raw_form.html' with form=form %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            {% if not submit_value %}
                {% trans 'Submit' as submit_value %}
            {% endif %}
            {% if submit_name %}
                 <button class="btn btn-primary" name='{{submit_name}}'> {{submit_value}} </button>
            {% else %}
                <button class="btn btn-primary"> {{submit_value}} </button>
            {% endif %}

        </div>
    </div>
    <br />
    <p class='text-info'> {% trans 'Fields marked with * are required and must be filled' %} </p>
</div>
