{% load i18n %}
<div class="container">
    {% if form.non_field_errors %}
        <div class="row alert alert-danger">
            {{form.non_field_errors }}
        </div>
    {% endif %}

    {% for field in form %}
        <div class="row">
            {% if field.errors %}
                <div class="col-md-4 has-error has-feedback">
                    <span class="control-label">{{field.label_tag}}</span>
                    <p class="help-block">{{field.help_text}}</p>
                    <div class="alert alert-danger">{{field.errors}}</div>
                </div>

            {% else %}
                <div class="col-md-4">
                    {{field.label_tag}}<br />
                    <p class="help-block">{{field.help_text}}</p>
                </div>
            {% endif %}
            <div class="col-md-1">
                {{field}}
            </div>


        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            {% if not submit_value %}
                {% trans 'Submit' as submit_value %}
            {% endif %}
            {% if submit_name %}
                 <button class="btn btn-primary" name='{{submit_name}}'> {{submit_value}} </button>
            {% else %}
                <button class="btn btn-primary"> {{submit_value}} </button>
            {% endif %}

        </div>
    </div>
</div>
