{% load i18n %}
<ul class='list-inline pull-left flip'>
    <li><a href='{% url "index" %}'> {% trans 'Index' %} </a></li>
    {% if user.is_authenticated %}
        <li><a href='{% url "users:edit_profile" %}'> {% trans 'Edit Profile' %} </a><li>
    {% else %}
        <li><a href='{% url "users:login" %}'> {% trans 'Login' %}</a></li>
        <li><a href='{% url "users:register" %}'> {% trans 'Register' %}</a></li>
    {% endif %}
    {% if user.is_authenticated %}
        <li><a href='{% url "exams:list" %}'> {% trans 'Exams' %} </a></li>
    {% endif %}
    {% if user.is_staff %}
        <li><a href='{% url "admin:index" %}'> {% trans 'Admin' %} </a></li>
    {% endif %}
    {% if user.is_authenticated %}
        <li><a href='{% url "users:logout" %}'> {% trans 'Logout' %} </a><li>
    {% endif %}
</ul>


