{% extends 'exams/base_templates/exam_base.html' %}
{% load i18n %}

{% block page_content %}
    {% if exam.mode == 0 %}
        <form method="post" action="">
        {% csrf_token %}
        {{formset.management_form}}
    {% endif %}
    {% include 'exams/base_templates/answer_sheet_form.html' with columns=columns %}
    {% if exam.mode == 0 %}
        <div class='text-center'><button class='btn btn-primary' type='submit'>{% trans "Save current answers" %}</button></div>
        </form>
    {% endif %}
{% endblock %}