{% load i18n admin_urls admin_static admin_modify %}
<link href="{% static 'css/exam-admin.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/admin/exams.js' %}" type="text/javascript"></script>
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module">
   <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
   {{ inline_admin_formset.formset.non_form_errors }}
   <table class="questions-table">
       {% for question in inline_admin_formset %}
           <tbody class="question-row {% if forloop.last %} empty-form{% endif %}" id="{{question.form.prefix}}">
               <tr><td colspan="7">
                   {{ question.form.errors }}
                   {% for error in question.form.choice_formset.errors %}
                       {{error}}
                   {% endfor %}
               </td></tr>
               <tr>
                   <td class="question-info">
                       {{question.form.id}}
                       <input class="readonly-field" id="id_{{question.form.prefix}}-order" name="{{question.form.prefix}}-order" {% if question.form.order.value %} value="{{question.form.order.value}}"{% endif %} />
                   </td>
                   <td class="question-statement" colspan="5">{{question.form.statement}}</td>
                   {% if inline_admin_formset.formset.can_delete %}
                       <td class="question-delete">
                           {% if question.original %}
                               {% trans 'Delete' %}:{{ question.deletion_field.field }}
                           {% endif %}
                       </td>
                   {% endif %}
               </tr>
               <tr id="{{question.form.prefix}}-choices">
                   <td class="management">
                       {{question.form.choice_formset.management_form}}
                   </td>
                   {% for choice in question.form.choice_formset %}

                       <td id="{{choice.prefix}}">
                           {{choice.id}}
                           {{choice.is_correct}}
                           <input class="readonly-field" id="id_{{choice.prefix}}-order" name="{{choice.prefix}}-order" {% if choice.order.value %} value="{{choice.order.value}}"{% endif %} />
                           {{choice.choice}}
                       </td>

                   {% endfor %}
               </tr>
               <script type="text/javascript">
                   $("#{{question.form.prefix}}-choices").sortable({
                       axis: "x",
                       update: function(e, ui){
                           objs = $("#{{question.form.prefix}}-choices").sortable('toArray');
                           renumerate(objs);
                       },
                       delay: 150,
                       items: 'td:not(.management)'
                   });
               </script>
         </tbody>
     {% endfor %}

   </table>
</fieldset>



<script type="text/javascript">

    $(".questions-table").sortable({
        axis: "y",
        create: function(e, ui){
            objs = $(".questions-table").sortable('toArray');
            renumerate(objs);
        },
        update: function(e, ui){
            objs = $(".questions-table").sortable('toArray');
            renumerate(objs);
        },
        delay: 150,
        items: 'tbody:not(.empty-form)'
    });

</script>
