<div class='container answer-sheet'>
    <div class='row'>
            {% for column in columns %}
                <div class='col-md-6' align="center">
                    {% for question in column %}
                        <div class='row'>
                            {{question.0.question}}
                            <table>
                            <tr>
                            <td class="question-number"><div>{{question.1}}- </div></td>
                            {{question.0.answer}}
                            </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>