{% load exams_filters %}

<div class='answer-sheet'>
    <div class='row'>
            {% for column in columns %}
                <div class='col-md-6' align="center">
                    {% for question in column.object_list %}
                        <div class='row'>
                            {{question.question}}
                            <table>
                            <tr>
                            <td class="question-number"><div>{% get_next_number 1 %}- </div></td>
                            {{question.answer}}
                            </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
    </div>
</div>