{% extends 'exams/base_templates/exam_base.html' %}
{% load i18n %}
{% load base_filters %}
{% load exams_filters %}

{% block page_content %}
    <form method="post" action="">
        {% csrf_token %}
        {{answer_sheet_forms.management_form}}
        <div class='container'>
            {% include 'raw_form.html' with form=user_form %}
        </div>
        <br />
        {% include 'exams/base_templates/answer_sheet_form.html' with columns=answer_sheet_full_columns %}
        <br />
        <div class='text-center'>
            <button name="addagain_button" class='btn btn-primary' type='submit'>{% trans "Submit and add another" %}</button>
            <button class='btn btn-primary' type='submit'>{% trans "Submit and return" %}</button>
            <a class='btn btn-default' href='{% url 'exams:import_panel' exam.id %}'> {% trans "Return" %} </a>
        </div>
    </form>
{% endblock %}
