{% extends 'base.html' %}
{% load i18n %}
{% load base_filters %}
{% load exams_filters %}

{% block main_content %}
    <div class='row'><h2 class='page-header'>{{ exam.name }}</h2></div>
    <form method="post" action="{% url 'exams:detail' exam.id %}">
        {{formset.management_form}}
        {% csrf_token %}
        {% include 'exams/base_templates/answer_sheet_form.html' with columns=columns %}
        <br />
        <div class='text-center'><input class='btn btn-primary' type='submit' value='{% trans "Save current answers" %}' /></div>
    </form>
{% endblock %}
