{% extends 'base.html' %}
{% load i18n %}
{% load base_filters %}
{% load exams_filters %}

{% block main_content %}
    <div class='row'><h2 class='page-header'>{{ exam.name }}</h2></div>
    <div class='row answer-sheet'>
        {% for page in pages %}
            <div class='col-md-5'>
                {% for question in page.object_list %}
                    <div class='row'>
                        <div class='col-md-1'>{{ question.order }}-</div>
                        {% for choice in question.choice_set.all %}
                            <div class='col-md-1 choice {% if request.user|has_chosen:choice %}selected{% endif %}' id='{{question.order}}-{{choice.order}}'>{{ choice.order|choice_character }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

