{% extends 'base.html' %}
{% load i18n %}

{% block main_content %}
<div class="container " style=" width: 50%; margin:0 auto;">
<div class = "jumbotron content" style=" width: 80%; margin:0 auto;" >
      <form class="form-signin" method = "POST" action = "{% url 'users:forgot' %}">
	{% csrf_token %}
        <h2 class="form-signin-heading">بازنشانی رمز عبور</h2><br>
	{% if error %}
	<br>‌<b>
	{% autoescape off %}
	{{ error }}
	{% endautoescape %}
	</b><br><br>
	{% endif %}
	<!--<label for="inputUsername"> نام کاربری</label>
        <input id="inputUsername" name="username" class="form-control" placeholder="نام کاربری" required="" autofocus="" type="username" value="{% if pr_username %}{{ pr_username }}{% endif %}">
<br>
        <label for="inputPassword" >رمز عبور</label>
        <input id="inputPassword" class="form-control" placeholder="رمز عبور" required="" type="password" name = "password" value="{% if pr_password %}{{ pr_password }}{% endif %}">-->
	{% if form %}
	{{ form }}
  	<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit"> بازنشانی</button>
	{% endif %}
      </form>
	<br>
	<a href = "{% url 'users:login' %}">بازگشت به صفحه ورود</a>
</div>
</div>
<br><br><br><br><br>
{% endblock %}
